Repository nss-cohort-36/bangazon-api-imagination-station-api, pull requests merged in 2020-02, with the labels that each got.

#39 Kb product views
  bangazon/urls.py
  bangazonapi/views.py
  bangazonapi/views/__init__.py
  bangazonapi/views/products.py
Labels: api

#40 views for products
  bangazon/settings.py
  bangazon/urls.py
  bangazonapi/fixtures/product.json
  bangazonapi/fixtures/producttype.json
  bangazonapi/views/__init__.py
  bangazonapi/views/products.py
Labels: api, product

#43 Lr payment type view
  bangazon/urls.py
  bangazonapi/views/__init__.py
  bangazonapi/views/paymenttypes.py
Labels: api

#46 expanded customers in payment types
  bangazonapi/views/paymenttypes.py
Labels: api

#47 Kb product location search
  bangazon/urls.py
  bangazonapi/models/products.py
  bangazonapi/views/__init__.py
  bangazonapi/views/orders.py
  bangazonapi/views/products.py
  bangazonapi/views/producttypes.py
Labels: api, product, product_category

#49 Kb training slash
  bangazon/urls.py
  bangazonapi/views/products.py
Labels: api, product

#51 added query params to orderproducts
  bangazonapi/views/orderproducts.py
Labels: api, order

#53 copy and paste in haste makes waste
  bangazonapi/views/orderproducts.py
Labels: api, order, product

#55 Lr cc exp date
  bangazonapi/models/paymenttypes.py
  requirements.txt
Labels: api
